<ion-view view-title="{{ vm.title}}" class="">
    <div class="header-wrapper">
        <div class="header-content text-center">
            <h2>Material Design</h2>
            <h4>Ionic material design</h4>
        </div>

        <a href="#/auth/login" class="button button-positive button-rounded icon ion-plus"></a>
    </div>
    <ion-content class="padding has-expanded-header">

        <div class="row" ng-repeat="aluno in vm.alunosList" ng-if="$index % 2 === 0">
            <div class="col text-center" ng-if="$index < vm.alunosList.length">
                <div class="aluno-avt bg-color-{{vm.alunosList[$index].avatar_bg}}">
                    <i class="avt-sm avt-{{vm.alunosList[$index].avatar}}"> </i>
                </div>
                
                <h4>{{vm.alunosList[$index].nome}}</h4>
            </div>
            <div class="col text-center" ng-if="$index + 1 < vm.alunosList.length">
                <div class="aluno-avt bg-color-{{vm.alunosList[$index + 1].avatar_bg}}">
                    <i class="avt-sm avt-{{vm.alunosList[$index + 1].avatar}}"></i>
                </div>
                
                <h4>{{vm.alunosList[$index + 1].nome}}</h4>
            </div>
        </div>
        

        <p class="text-center padding-top">
            <a href="#/auth/login" class="button button-clear button-positive">Login</a>
        </p>
    </ion-content>
</ion-view>