<ion-view view-title="" class="">
    <ion-nav-bar class="bar-trasparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <ion-nav-buttons side="right">
        
      <button class="button button-icon icon ion-android-more-vertical button-positive" ng-click="vm.showContextMenu()">
        
      </button>
    </ion-nav-buttons>

    <div class="header-wrapper">
        <div class="header-content text-center bg-color-positive">
            <img ng-src="img/face-{{vm.aluno.avatar}}.png" class="avatar"/>

            <h2>{{vm.aluno.nome}}</h2>

        </div>

    </div>

    <ion-tabs class="tabs-striped tabs-light tabs-color-positive tabs-icon-only tabs-top tab-aluno-ver">

        <ion-tab title="Home" icon-on="ion-ios-book" icon-off="ion-ios-book-outline">
            <ion-content padding="true">
                <h1>tste 1</h1>
                <h1>tste 2</h1>
                <h1>tste 3</h1>
                <h1>tste 4</h1>
                <h1>tste 5</h1>
                <h1>tste 6</h1>
                <h1>tste 8</h1>
                <h1>tste 9</h1>
                <h1>tste 10</h1>
                <h1>tste 11</h1>
                <h1>tste 12</h1>
                <h1>tste 1</h1>
            </ion-content>
        </ion-tab>

        <ion-tab title="About" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" badge="2" badge-style="badge-assertive">
            <ion-content padding="true">
                teste 2
            </ion-content>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <ion-content padding="true">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Código do aluno</span>
                        <input type="text" placeholder="Código do aluno">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nome</span>
                        <input type="text" placeholder="Nome">
                    </label>
                </div>

                <div class="row text-center" ng-repeat="colors in vm.avatarColors">
                    <div class="col" ng-repeat="color in colors">
                        <span class="color-palette bg-color-{{color}}" ng-click="vm.selectColor(color)">
                            <i ng-class="color == vm.selectedColor ? 'icon ion-ios-checkmark-outline' : 'icon ion - record'"></i>
                        </span>
                    </div>
                </div>

                <br/>

                <div class="row" ng-repeat="avatars in vm.avatarsList">
                    <div class="col"
                         ng-repeat="avatar in avatars"
                         ng-click="vm.selectAvatar(avatar)"
                         ng-class="avatar == vm.selectedAvatar ? 'aluno-avt-select bg-color-' + vm.selectedColor : ''">
                        <img ng-src="img/face-{{avatar}}.png" width="100%" />
                    </div>
                </div>
            </ion-content>
        </ion-tab>

    </ion-tabs>

    
</ion-view>