<ion-view view-title="{{ vm.title}}" class="">
    <ion-nav-bar class="bar-trasparent">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
    <div class="header-wrapper">
        <div class="header-content text-center bg-color-{{vm.aluno.avatar_bg}}">
            <div class="row">
                <div class="col col-33 col-offset-33">
                    <img ng-src="img/face-{{vm.aluno.avatar}}.png" class="aluno-avt bg-color-white" width="100%"/>
                </div>
            </div>
            
            <h4>{{vm.aluno.nome}}</h4>
        </div>
        
    </div>
    
    <ion-content>

        
 
    </ion-content>
    
    <a href="javascript:;" class="button button-positive button-rounded button-bottom icon ion-ios-plus-empty" ng-click="vm.openModal()"></a>
</ion-view>

<script id="add-aluno-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Adicionar</h1>
    </ion-header-bar>
        <ion-content>
            <div class="list">
                <label class="item item-input item-floating-label">
                  <span class="input-label">Código do aluno</span>
                  <input type="text" placeholder="Código do aluno">
                </label>
                <label class="item item-input item-floating-label">
                  <span class="input-label">Nome</span>
                  <input type="text" placeholder="Nome">
                </label>
            </div>
            
            <div class="row text-center" ng-repeat="colors in vm.avatarColors">
                <div class="col" ng-repeat="color in colors">
                    <span class="color-palette bg-color-{{color}}" ng-click="vm.selectColor(color)">
                        <i ng-class="color == vm.selectedColor ? 'icon ion-ios-checkmark-outline' : 'icon ion-record'"></i>
                    </span>
                </div>
            </div>
    
            <br/>
            
            <div class="row" ng-repeat="avatars in vm.avatarsList">
                <div class="col"
                     ng-repeat="avatar in avatars"
                     ng-click="vm.selectAvatar(avatar)"
                     ng-class="avatar == vm.selectedAvatar ? 'aluno-avt-select bg-color-' + vm.selectedColor : ''">
                    <img ng-src="img/face-{{avatar}}.png" width="100%" />
                </div>
            </div>
            
        </ion-content>
    <ion-footer-bar>
      <a href="javascript:;" class="button button-clear button-positive pull-right icon-right ion-chevron-right" ng-click="vm.closeModal()">Salvar&nbsp;&nbsp;&nbsp;&nbsp;</a>
    </ion-footer-bar>
  </div>
</script>