/* Empty. Add your own CSS if you like */
.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.center-content > .scroll {
  display: table-cell;
  vertical-align: middle;
  
}
.login-container {
    background-color: #f1f1f1;
    max-width: 337px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px 10px;
    
    -webkit-box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-container > .logo {
    text-align: center;
}

.login {
    background: url(../img/background.png);
    /*background-color: #271664;*/
    background-color: #0059A5;
}

.login .list-inset {
    background-color: transparent;
}

.login .list-inset .item {
    background-color: transparent;
    /*border-bottom: solid 1px #45357e;*/
    border-top: none;
    border-left: none;
    border-right: none;
}

.login .list-inset .item:target {
    border-bottom: solid 2px #fff;
}

.login input {
    /*color: #271664;*/
}

/*.login input::-webkit-input-placeholder {
  color: #45357e;
}
.login input:-moz-placeholder {
  color: #45357e;
}
.login input:-ms-input-placeholder {  IE10+ 
  color: #45357e ;
}*/

/* *******************
* CUSTOM HEADER
******************** */

.header-wrapper {
    color: #fff;
}

.header-wrapper > .header-content {
    background-color: #0059A5 !important;
    /*background: url(../img/background.png);*/
    border-botom: solid 1px #0c63ee;
    
    height: 190px;
    padding-top: 44px;
    width: 100%;
    
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
}

.header-wrapper > .button-rounded {
    float: right;
    right: 10px;
    top: -26px;
    z-index: 10;
    
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.header-wrapper > .header-content > h2,
.header-wrapper > .header-content > h4 {
    color: #fff;
}

.has-expanded-header {
    top: 195px;
}

.bar-trasparent {
    background: none;
    border: none;
    color: #fff;
}

.button-rounded {
    height: 52px;
    
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
}

.button-rounded.icon:before, .button-rounded.icon-left:before, .button-rounded.icon-right:before {
    font-size: 32px !important;
    line-height: 46px !important;
}

/* **********************
* LISTA DE ALUNOS
*********************** */

.aluno-avt {
    background: url('../img/avatar-bg-sm.png') no-repeat;
    border-radius: 50%;
    display: inline-block;
    
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.bg-color-lime		{ background-color: #A4C400; }
.bg-color-green		{ background-color: #60A917; }
.bg-color-emerald	{ background-color: #008A00; }
.bg-color-teal		{ background-color: #00ABA9; }
.bg-color-cyan		{ background-color: #1BA1E2; }
.bg-color-cobalt	{ background-color: #0050EF; }
.bg-color-indigo	{ background-color: #6A00FF; }
.bg-color-violet	{ background-color: #AA00FF; }
.bg-color-pink		{ background-color: #F472D0; }
.bg-color-magenta	{ background-color: #D80073; }
.bg-color-crimson	{ background-color: #A20025; }
.bg-color-red		{ background-color: #E51400; }
.bg-color-orange	{ background-color: #FA6800; }
.bg-color-amber		{ background-color: #F0A30A; }
.bg-color-yellow	{ background-color: #E3C800; }
.bg-color-brown		{ background-color: #825A2C; }
.bg-color-olive		{ background-color: #6D8764; }
.bg-color-steel		{ background-color: #647687; }
.bg-color-mauve		{ background-color: #76608A; }
.bg-color-taupe		{ background-color: #87794E; }

.avt { background: url('../img/avatar-sprite.png') no-repeat top left; width: 200px; height: 200px; display: block; } 
.avt.avt-kid-1 { background-position: 0 0; } 
.avt.avt-kid-2 { background-position: -200px 0; } 
.avt.avt-kid-3 { background-position: -400px 0; } 
.avt.avt-kid-4 { background-position: -800px 0; } 
.avt.avt-kid-5 { background-position: -1000px 0; } 
.avt.avt-kid-6 { background-position: -1200px 0; } 
.avt.avt-kid-7 { background-position: -1400px 0; } 
.avt.avt-kid-8 { background-position: -1600px 0; }

.avt-sm { background: url('../img/avatar-sprite-sm.png') no-repeat top left; width: 100px; height: 100px; display: block; } 
.avt-sm.avt-kid-1 { background-position: 0 0; } 
.avt-sm.avt-kid-2 { background-position: -100px 0; } 
.avt-sm.avt-kid-3 { background-position: -200px 0; } 
.avt-sm.avt-kid-4 { background-position: -300px 0; } 
.avt-sm.avt-kid-5 { background-position: -400px 0; } 
.avt-sm.avt-kid-6 { background-position: -500px 0; } 
.avt-sm.avt-kid-7 { background-position: -600px 0; } 
.avt-sm.avt-kid-8 { background-position: -700px 0; }