/* Empty. Add your own CSS if you like */
.center-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.center-content > .scroll {
  display: table-cell;
  vertical-align: middle;
  
}
.login-container {
    background-color: #f1f1f1;
    max-width: 337px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 10px 10px;
    
    -webkit-box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    -moz-box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    box-shadow: 5px 5px 5px 0px rgba(39,22,100,1);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.login-container > .logo {
    text-align: center;
}

.login {
    background: url(../img/background.png);
    /*background-color: #271664;*/
    background-color: #0059A5;
}

.login .list-inset {
    background-color: transparent;
}

.login .list-inset .item {
    background-color: transparent;
    /*border-bottom: solid 1px #45357e;*/
    border-top: none;
    border-left: none;
    border-right: none;
}

.login .list-inset .item:target {
    border-bottom: solid 2px #fff;
}

.login input {
    /*color: #271664;*/
}

/*.login input::-webkit-input-placeholder {
  color: #45357e;
}
.login input:-moz-placeholder {
  color: #45357e;
}
.login input:-ms-input-placeholder {  IE10+ 
  color: #45357e ;
}*/

/* *******************
* CUSTOM HEADER
******************** */

.header-wrapper {
    color: #fff;
}

.header-wrapper > .header-content {
    background-color: #0059A5 !important;
    /*background: url(../img/background.png);*/
    border-botom: solid 1px #0c63ee;
    
    height: 190px;
    padding-top: 44px;
    width: 100%;
    
    -webkit-box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.75);
}

.header-wrapper > .button-rounded {
    float: right;
    right: 10px;
    top: -26px;
    z-index: 10;
    
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.75);
}

.header-wrapper > .header-content > h2,h4 {
    color: #fff;
}

.has-expanded-header {
    top: 195px;
}

.bar-trasparent {
    background: none;
    border: none;
    color: #fff;
}

.button-rounded {
    height: 52px;
    
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
}

.button-rounded.icon:before, .button-rounded.icon-left:before, .button-rounded.icon-right:before {
    font-size: 32px !important;
    line-height: 46px !important;
}

/* **********************
* LISTA DE ALUNOS
*********************** */

.alunos-avatar {
    border-radius: 50%;
}